.banner{
    background-image: url('Siddhi Singh (1).png');
}
html.dark .banner{
    background-image: url("Banner copy.png");
}
.profileNavBtm{
    border-bottom: .01rem solid #CC0088 ;
}
html.dark .profileNavBtm{
    border-bottom: .01rem solid #64FFDA;
}